.ui.popup.error {
  border-color: #e0b4b4;
  background-color: #fff6f6;
}

.ui.popup.error {
  color: #9f3a38;
}

.ui.bottom.center.popup.error:before {
  box-shadow: -1px -1px 0 0 #e0b4b4;
}

.ui.bottom.right.popup.error:before {
  box-shadow: -1px -1px 0 0 #e0b4b4;
}

.ui.bottom.left.popup.error:before {
  box-shadow: -1px -1px 0 0 #e0b4b4;
}

.ui.right.center.popup.error:before {
  box-shadow: -1px 1px 0 0 #e0b4b4;
}

.ui.left.center.popup.error:before {
  box-shadow: 1px -1px 0 0 #e0b4b4;
}

.ui.left.center.popup.error:before, .ui.right.center.popup.error:before {
  background-color: #fff6f6;
}

.ui.bottom.popup.error:before {
  background-color: #fff6f6;
}

.ui.popup.error:before {
  background-color: #fff6f6;
}